version: 2
updates:
  - package-ecosystem: maven
    directories:
      - "/"
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "com.sap.cds:*"
        versions:
          - ">=4"
    groups:
      minor-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    groups:
      minor-patch:
        patterns:
          - "*"
        update-types:
          - minor
          - patch
