# IDEs

## IntelliJ
.idea
*.iml

## Eclipse
.project
.classpath
.settings/

## Java
target/

.flattened-pom.xml
node_modules

## PMD
.pmd
.pmdruleset.xml

## Generated classes and resources
cds-feature-attachments/src/gen/
cds-feature-attachments/src/test/gen/
cds-feature-attachments/src/test/resources/gen/
cds-feature-attachments/src/test/resources/schema.sql
