steps:
  mavenBuild:
    verbose: false
    verify: false
    flatten: true
    # https://www.project-piper.io/steps/mavenBuild/#dockerimage
    # If empty, Docker is not used and the command is executed directly on the Jenkins system.
    dockerImage: ''

  detectExecuteScan:
    projectName: 'com.sap.cds.feature.attachments'
    groups:
      - 'CDSJAVA-OPEN-SOURCE'
    serverUrl: 'https://sap.blackducksoftware.com/'
    mavenExcludedScopes: [ "provided", "test" ]
    failOn: [ 'NONE' ]
    versioningModel: "major-minor"
    detectTools: [ 'DETECTOR', 'BINARY_SCAN' ]
    installArtifacts: false
    repository: '/cap-java/cds-feature-attachments'
    verbose: true
    scanProperties:
      - --detect.included.detector.types=MAVEN
      - --detect.excluded.directories='**/node_modules,**/*test*,**/localrepo,**/target/site,**/*-site.jar,**/samples/**'
      - --detect.maven.excluded.modules=integration-tests,integration-tests/db,integration-tests/srv
      - --detect.maven.build.command='-pl com.sap.cds:cds-feature-attachments'
    # https://www.project-piper.io/steps/detectExecuteScan/#dockerimage
    # If empty, Docker is not used and the command is executed directly on the Jenkins system.
    dockerImage: ''

  sonarExecuteScan:
    serverUrl: https://sonar.tools.sap
    projectKey: cds-feature-attachments
    options:
      - sonar.qualitygate.wait=true
      - sonar.java.source=17
      - sonar.exclusions=**/node_modules/**,**/target/**,**/test/**
      - sonar.modules=cds-feature-attachments,cds-feature-attachments-fs,cds-feature-attachments-oss
      - sonar.coverage.jacoco.xmlReportPaths=cds-feature-attachments/target/site/jacoco/jacoco.xml,storage-targets/cds-feature-attachments-fs/target/site/jacoco/jacoco.xml,storage-targets/cds-feature-attachments-oss/target/site/jacoco/jacoco.xml
      - sonar.coverage.exclusions=cds-feature-attachments/src/test/**,cds-feature-attachments/src/gen/**,storage-targets/cds-feature-attachments-fs/src/test/**,storage-targets/cds-feature-attachments-oss/src/test/**
      - cds-feature-attachments.sonar.projectBaseDir=cds-feature-attachments
      - cds-feature-attachments.sonar.sources=src/main/java
      - cds-feature-attachments.sonar.tests=src/test/java
      - cds-feature-attachments.sonar.java.binaries=target/classes
      - cds-feature-attachments-fs.sonar.projectBaseDir=storage-targets/cds-feature-attachments-fs
      - cds-feature-attachments-fs.sonar.sources=src/main/java
      - cds-feature-attachments-fs.sonar.tests=src/test/java
      - cds-feature-attachments-fs.sonar.java.binaries=target/classes
      - cds-feature-attachments-oss.sonar.projectBaseDir=storage-targets/cds-feature-attachments-oss
      - cds-feature-attachments-oss.sonar.sources=src/main/java
      - cds-feature-attachments-oss.sonar.tests=src/test/java
      - cds-feature-attachments-oss.sonar.java.binaries=target/classes
