name: CI

env:
  MAVEN_VERSION: '3.6.3'

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Sonar Scan
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ 17, 21 ]
    env:
      AWS_S3_HOST: ${{ secrets.AWS_S3_HOST }}
      AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      AWS_S3_REGION: ${{ secrets.AWS_S3_REGION }}
      AWS_S3_ACCESS_KEY_ID: ${{ secrets.AWS_S3_ACCESS_KEY_ID }}
      AWS_S3_SECRET_ACCESS_KEY: ${{ secrets.AWS_S3_SECRET_ACCESS_KEY }}
      AZURE_CONTAINER_URI: ${{ secrets.AZURE_CONTAINER_URI }}
      AZURE_SAS_TOKEN: ${{ secrets.AZURE_SAS_TOKEN }}
      GS_BASE_64_ENCODED_PRIVATE_KEY_DATA: ${{ secrets.GS_BASE_64_ENCODED_PRIVATE_KEY_DATA }}
      GS_BUCKET: ${{ secrets.GS_BUCKET }}
      GS_PROJECT_ID: ${{ secrets.GS_PROJECT_ID }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Spotless check
        run: mvn spotless:check -Dspotless.check.skip=false

      - name: Build
        uses: ./.github/actions/build
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: Integration Tests
        uses: ./.github/actions/integration-tests
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: Build sample and run tests
        uses: ./.github/actions/test-sample
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: SonarQube Scan
        uses: ./.github/actions/scan-with-sonar
        if: ${{ matrix.java-version == 17 }}
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ env.MAVEN_VERSION }}
          sonarq-token: ${{ secrets.SONARQ_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

  scan:
    name: Blackduck Scan
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Scan
        uses: ./.github/actions/scan-with-blackduck
        with:
          blackduck_token: ${{ secrets.BLACK_DUCK_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          maven-version: ${{ env.MAVEN_VERSION }}

  deploy-snapshot:
    name: Deploy snapshot to Artifactory
    runs-on: ubuntu-latest
    needs: [build, scan]
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Java
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'sapmachine'
          cache: 'maven'
          server-id: artifactory
          server-username: DEPLOYMENT_USER
          server-password: DEPLOYMENT_PASS

      - name: Set up Maven ${{ env.MAVEN_VERSION }}
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: Get Revision
        id: get-revision
        run: |
          echo "REVISION=$(mvn help:evaluate -Dexpression=revision -q -DforceStdout)" >> $GITHUB_OUTPUT
        shell: bash

      - name: Print Revision
        run: echo "Current revision ${{ steps.get-revision.outputs.REVISION }}"
        shell: bash

      - name: Deploy snapshot
        if: ${{ endsWith(steps.get-revision.outputs.REVISION, '-SNAPSHOT') }}
        run: >
          mvn -B -ntp -fae
          -pl !integration-tests,!integration-tests/db,!integration-tests/srv
          -Dmaven.install.skip=true
          -Dmaven.test.skip=true
          -DdeployAtEnd=true
          deploy
        env:
          DEPLOYMENT_USER: ${{ secrets.DEPLOYMENT_USER }}
          DEPLOYMENT_PASS: ${{ secrets.DEPLOYMENT_PASS }}
        shell: bash
