name: Create Issue on Failure

on:
  workflow_run:
    workflows: [ Java Build with Maven, Java CI with Maven ]
    types:
      - completed

jobs:
  create_issue:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}

    steps:
      - name: Create Issue
        uses: actions/github-script@v5
        with:
          script: |
            const runId = context.payload.workflow_run.id;
            const runNumber = context.payload.workflow_run.run_number;
            const workflow = context.payload.workflow_run.name;
            const issue = {
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: "An error occurred in workflow: " + workflow + ", Run Number: " + runNumber,
              body: "An error occurred in the workflow. Here are the details:\n\n" +
                    "**Workflow:** " + workflow + "\n" +
                    "**Run ID:** " + runId + "\n" +
                    "**Run Number:** " + runNumber + "\n" +
                    "**Link to Run:** https://github.com/" + context.repo.owner + "/" + context.repo.repo + "/actions/runs/" + runId
            };
            github.rest.issues.create(issue);
