name: Hello World Workflow

on:
  pull_request_target:
    types: [opened, edited, synchronize]

jobs:
  hello_world:
    runs-on: ubuntu-latest
    steps:
      - name: Print Hello World
        run: echo "Hello, world!"
