name: CI

env:
  MAVEN_VERSION: '3.9.12'

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  blackduck:
    name: Blackduck Scan
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Scan With Black Duck
        uses: ./.github/actions/scan-with-blackduck
        with:
          blackduck_token: ${{ secrets.BLACK_DUCK_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          maven-version: ${{ env.MAVEN_VERSION }}
          scan_mode: RAPID

  build-and-test:
    uses: ./.github/workflows/pipeline.yml
    with:
      deploy-snapshot: true
    secrets: inherit