name: Java CI with Maven - deploy to OSS

env:
  JAVA_VERSION: '17'
  POM_FILE: '.flattened-pom.xml'

on:
  release:
    branches: [ "main" ]
    types: [ "published" ]

jobs:

  blackduck:
    name: "Blackduck Scan"
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - name: "Scan With Black Duck"
        uses: ./.github/actions/scan-with-blackduck
        with:
          blackduck_token: ${{ secrets.BLACK_DUCK_TOKEN }}
          github_token: ${{ secrets.GITHUB_TOKEN }}

  update-version:
    runs-on: ubuntu-latest
    needs: blackduck
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Update version
        uses: ./.github/actions/newrelease
        with:
          java-version: ${{ env.JAVA_VERSION }}

      - name: Upload Changed Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: root-new-version
          path: .
          retention-days: 1

  build:
    runs-on: ubuntu-latest
    needs: update-version
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
          
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: root-new-version

      - name: Build with Maven
        uses: ./.github/actions/build
        with:
          java-version: ${{ env.JAVA_VERSION }}

      - name: Upload Changed Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: root-build
          path: .
          retention-days: 1

  deploy:
    name: Deploy to Maven Central
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "Start deployment to Maven Central"
        name: deploy start

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: root-build

      - name: Deploy with Maven
        uses: ./.github/actions/deploy-release
        with:
          server-id: osshr
          user: ${{ secrets.OSSRH_SONATYPE_ORG_API_USER }}
          password: ${{ secrets.OSSRH_SONATYPE_ORG_API_PASSWD }}
          profile: ${{ secrets.OSSRH_SONATYPE_ORG_PROFILE_ID }}
          pgp-pub-key: ${{ secrets.PGP_PUBKEY_ID }}
          pgp-private-key: ${{ secrets.PGP_PRIVATE_KEY }}
          pgp-passphrase: ${{ secrets.PGP_PASSPHRASE }}
          pom-file: ${{ env.POM_FILE }}

      - name: Echo Status
        run: echo "The job status is ${{ job.status }}"
