name: CI - PR

on:
  workflow_dispatch:
  pull_request_target:
    branches: [main]
    types: [reopened, synchronize, opened]

jobs:
  requires-approval:
    runs-on: ubuntu-latest
    name: "Waiting for PR approval as this workflow runs on pull_request_target"
    if: github.event_name == 'pull_request_target' && github.event.pull_request.head.repo.owner.login != 'cap-java'
    environment: pr-approval
    steps:
      - name: Approval Step
        run: echo "This job has been approved!"

  build-and-test:
    needs: requires-approval
    if: always() && (needs.requires-approval.result == 'success' || needs.requires-approval.result == 'skipped')
    uses: ./.github/workflows/pipeline.yml
    with:
      deploy-snapshot: false
    secrets: inherit