name: Pull Request Voter

env:
  MAVEN_VERSION: '3.6.3'

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 17, 21 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/build
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ env.MAVEN_VERSION }}

      - name: SonarQube Scan
        uses: ./.github/actions/scan-with-sonar
        if: ${{ matrix.java-version == 17 }}
        with:
          java-version: ${{ matrix.java-version }}
          maven-version: ${{ env.MAVEN_VERSION }}
          sonarq-token: ${{ secrets.SONARQ_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
